{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
  <h1 style="color:rgb(255, 196, 0);"><img style=" height: 50px;width: 50px; border-radius: 50%;" src='cid:{logo}' alt="">Welcome to BookStore!</h1>
  <h3 style="color:black;">Hey,You have successfully registered in Book Store!</h3>
</header>
<section>

  
  <article>
    <p style="color:black;  font-weight: bold;" >
        This is a book store project for author in which any number of author can register themself here and <br>
        add various books into their cart.Whenever an author will register himself, he will get an email<br>
        that he/she has been registered successfully to confirm that now they are ready to login.Then the<br>
        login user can add any number of books into his/her cart where he/she can see the title of the   <br>
        book, price of the book, and the edition of the book and he/she can logout successfully whenever <br>
        they want to.
   	</p></div>
  </article>
</section>

<footer>
  <p style="font-weight: bold;">Thankyou for registering in Book Store.</p><br>
  <p style="color:rgb(255, 196, 0);">-The BookStore Team </p>
</footer>

</body>
</html>

