{% extends 'index.html' %}
{% block 'main_content' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewBooks</title>
  </head>
  <body>
    <div class='container'>
    <h1>Books</h1>
    <h2><b>Hey! {{user.first_name}}</b>, Here are the books in your cart!</h2>
    <form method="POST">
    {% csrf_token %}
    <style>
          th,td{
      border: 1px black solid;
    }
    </style>
    <table  class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Edition</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
          <tr>
            <td>{{d.title}}</td>
            <td>{{d.author.first_name}} {{d.author.last_name}}</td>
            <td>{{d.Price}}</td>
            <td>{{d.Edition}}</td>
          </tr>
        {% endfor%}
    </tbody>
  </body>
</html>
{% endblock %}
